<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>Z:\Build\Voat.UI.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="voatUsers" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Voat.Data.Models.ApplicationDbContext, Voat.Business" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="voatEntities" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Voat.Data.Models.voatEntities, Voat.Data" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="voatEntitiesReadOnly" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source={server};Initial Catalog={database};Persist Security Info=True;User ID={userid};Password={password};Pooling=True;Max Pool Size=1024;Connect Timeout=60;Application Name=Voat.API" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\voatEntitiesReadOnly_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://Voat.Data/Models.VoatEntityDataModel.csdl|res://Voat.Data/Models.VoatEntityDataModel.ssdl|res://Voat.Data/Models.VoatEntityDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source={server};initial catalog={database};User ID={userid};Password={password};persist security info=True;MultipleActiveResultSets=True;App=Voat.API;Max Pool Size=1024;Pooling=true;Timeout=60;&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)voatEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)voatEntitiesReadOnly-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)voatUsers-Web.config Connection String" />
  </ItemGroup>
</Project>